
* {
  margin: 0;
  padding: 0;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
  height: 45px;
}
.logo_container {
  margin-left:4%;
}

.action-bar{
  margin-right: 8%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
  
}

.search_icon{
  box-sizing: content-box;
  background-color: #f5f5f6;
  height: 20px;
  padding: 10px;
  border-radius: 4px 0 0 4px;

}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
  
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
  margin-right: 50px;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container{
  margin: 40px 0;
}
.banner-image{
width: 100%;
}
.category-heading{
text-transform: uppercase;
color: #3e4152;
font-size: 1.8em;
font-weight: 700;
margin: 50px 0 10px 30px;
letter-spacing: .15em

}
.category-items{
display: flex;
flex-wrap: wrap;
}
.sale-item{
  width: 250px;
  

}
.footer-container{
 padding: 20px 0 15px 30px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}
.footer-column{
  display: flex;
  flex-direction: column;
}
.footer-column h3{
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
  

}
.footer-column a{
  color: #696b79;
  text-decoration: none;
  
  font-size: 15px;
  text-align: start;
}
.copy-right{
  color: #94969f;
  text-align: end;
  
}
.play-image{
  height: 80px;
  display: flex;
  align-items: center;
}


.icon{
  display: flex;

}
.last-one{
  margin-left: 50px;
}
.first-one{
  margin-left: 20px;
}